* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 70px;
}

.nav-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(128, 0, 128, 0.5);
    backdrop-filter: blur(15px);
    height: 70px;
}

.logo {
    height: 60px;
    width: 60px;
    background: rgba(0, 0, 0, 0.411);
    border-radius: 50%;
}

.logo-img {
    font-size: 40px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    /* background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%); */
    color: white;
    background-clip: text;
}

.nav-contents ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

.responsive-nav-items {
    visibility: hidden;
}

.nav-items-underlines {
    width: 0%;
    height: 3px;
    background: white;
    margin-top: 5px;
}

a:hover .nav-items-underlines {
    width: 100%;
    transition: width 0.3s ease-in-out;
}

.menu-btn {
    visibility: hidden;
}

.responsive-nav-bar {
    display: none;
}

@media (min-width:300px) and (max-width:800px) {
    nav {
        display: block;
        height: 70px;
        background-color: rgba(128, 0, 128, 0.5);
        backdrop-filter: blur(15px);
    }

    .nav-contents {
        display: none;
    }

    .responsive-nav-items {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* background-color: rgb(128, 0, 128); */
        padding: 50px;
        height: 100vh;
        width: 70%;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 1;
        color: plum;
        background-color: rgba(128, 0, 128, 0.9);
        backdrop-filter: blur(5px);
    }

    .menu-btn {
        visibility: visible;
    }

    li {
        width: 100%;
        text-align: right;
    }

    a {
        display: flex;
        width: 100%;
        font-size: 15px;
        color: plum;
    }

    .logo {
        background: white;
    }

    .logo {
        height: 20px;
        width: 20px;
        background: #000;
    }

    .logo-img {
        font-size: 20px;
        color: plum;
    }

    .responsive-nav-bar {
        display: flex;
        height: 70px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    .responsive-nav-bar li {
        width: auto;
    }

}

/*  */
.banner {
    background-color: rgb(49, 2, 49);
    background-image: url("https://images.pexels.com/photos/1603891/pexels-photo-1603891.jpeg?auto=compress&cs=tinysrgb&w=600");
    height: 750px;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
    flex-grow: 1;
    position: sticky;
}

.banner-contents {
    width: 50%;
}

.banner-contents h1 {
    font-size: 50px;
    font-weight: 800;
    color: plum;
    /* text-stroke: 0.09375rem #0d1b1e; */
    /* text-shadow: 3px 3px 0px #755d5d; */
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.banner-contents p {
    color: plum;
    width: 400px;
    margin-bottom: 20px;
    font-weight: normal;
}

.banner-contents button {
    padding: 15px 45px;
    color: plum;
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    border: 2px solid purple;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.432);
    display: flex;
    gap: 40px;
    align-items: center;
}

.banner-contents button i {
    font-size: 25px;
}

.banner-img {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.banner-img img {
    width: 100%;
    height: 100%;
    background-clip: border-box;
    object-fit: cover;
}

.bg-pro-pic-cover {
    background-color: rgba(0, 0, 0, 0.644);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width:300px) and (max-width:800px) {
    .banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 800px;
        padding: 15px 10px;
        /* margin-bottom: 20px; */
    }

    .banner-contents {
        width: 100%;
        padding: 5px;
        order: 2;
    }

    .banner-contents h1 {
        font-size: 30px;
        color: plum;
        text-align: center;
    }

    .banner-contents p {
        width: 100%;
        text-align: center;
    }

    .banner-contents button {
        padding: 10px 15px;
        font-size: 15px;
        gap: 10px;

    }

    .banner-contents button i {
        font-size: 15px;
    }

    .banner-img {
        height: 300px;
        width: 300px;
    }

    .banner-img img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width:376px) {
    .banner-contents h1 {
        text-align: left;
    }

    .banner-contents p {
        text-align: left;
    }
}

/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
.about,
.services,
.feedback-container,
.contacts,.skills {
    width: 80%;
    margin: auto;
    /* background: white; */
    backdrop-filter: blur(70px);
}

/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
.about-container {
    padding: 50px;
    text-align: center;
    color: purple;
}

.about-container h2 {
    margin-bottom: 30px;
    font-size: 40px;
}

.about-container p {
    margin-bottom: 30px;
    font-size: 20px;
}

@media (min-width:300px) and (max-width:800px) {
    .about-container {
        padding: 5px;
    }

    .about-container h2 {
        margin-bottom: 0px;
        font-size: 30px;
        padding: 20px 0;
    }

    .about-container p {
        margin-bottom: 20px;
        font-size: 15px;
        text-align: justify;
    }
}

.services h2 {
    margin-bottom: 30px;
    font-size: 40px;
    color: purple;
    text-align: center;
}

.services-card-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

.services-card {
    /* background-color: rgba(128, 0, 128, 0.5); */
    backdrop-filter: blur(15px);
    padding: 20px;
    color: white;
    box-shadow: 1px 1px 5px rgba(14, 0, 0, 0.418);
    border-radius: 20px;
}

.services-card h3 {
    margin: 10px 0;
    color: purple;
}

.services-card p {
    color: plum;
}

.services-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

@media (min-width:300px) and (max-width:800px) {
    .services h2 {
        margin-bottom: 30px;
        font-size: 40px;
        color: purple;
        text-align: center;
    }

    .services-card-container {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
}

.feedback {
    width: 100%;
    background-color: rgba(128, 0, 128, 0.5);
    /* backdrop-filter: blur(15px); */
    background-color: rgba(128, 0, 128, 0.5);
    background-image: url("images/bubbles.jpg");
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;

}

.feedback-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
    backdrop-filter: blur(0px)
}

.feedback-continer-img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    background: #000;
    background-image: url("images/client.jpg");
    background-color: rgba(128, 0, 128, 0.5);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
}

.feedback-container-img img {
    width: 100%;
    height: 100%;
}

.feedback-continer-tag {
    width: 50%;
    order: 2;
}

.feedback-continer-tag h3 {
    color: white;
    font-size: 25px;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

.feedback-continer-tag p {
    color: white;
    margin-bottom: 20px;
    /* text-align: justify; */
    /* width: 400px; */
}

.feedback-continer-tag p span {
    font-size: 40px;
    line-height: normal;
    color: #ffc93c;
}

.client-name img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid yellow;
}

.client-name-details p {
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.client-name {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (min-width:300px) and (max-width:800px) {
    .feedback-container {
        flex-direction: column;
        /* padding: 5px; */
    }

    .feedback-continer-tag p {
        width: auto;
        /* text-align: center; */
    }

    .feedback-continer-img {
        width: 200px;
        height: 200px;
    }

    .feedback-continer-tag {
        width: 100%;

    }

}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    flex: 1;
}

.contacts-tagline {
    width: 50%;
    color: purple;
    font-size: 30px;
    /* background-color: red; */
    text-shadow: #000;
    display: flex;
    justify-content: center;
}

input,
textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 20px 20px;
    color: purple;
    box-shadow: 2px 2px 5px rgba(128, 0, 128, 0.5);
    border: 2px solid transparent;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

textarea {
    height: 150px;
}

input:focus,
textarea:focus {
    border: 3px solid purple;
}

label {
    color: purple;
    margin-bottom: 10px;
}

.contacts-form {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    flex: 1;
}

.contacts-form button {
    padding: 20px;
    color: purple;
    box-shadow: 2px 2px 5px rgba(128, 0, 128, 0.5);
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

.contacts-form button:hover {
    border: 2px solid purple;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transform: scale(1.05);
    /* transition: transform 0.3s ease-in-out; */
    cursor: pointer;
}
@media (min-width:300px) and (max-width:800px) {
    .contacts {
        flex-direction: column;
    }
    
    .contacts-tagline {
        width: 100%;
        color: purple;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .contacts-form {
        display: flex;
        flex-direction: column;
        /* background-color: blue; */
        flex: 1;
    }
}
.skill-tagline h2{
    margin-bottom: 30px;
    font-size: 40px;
    color: purple;
    text-align: center;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.skills-container label{
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 20px; */
}
progress{
    width: 100%;
    height: 20px;
    margin-top: 20px;
    transition : 0.5s;
}

@media (min-width:300px) and (max-width:800px) {
    .skill-tagline h2{
        margin-bottom: 20px;
        font-size: 30px;
    }
    .skills-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .skills-container label{
        font-size: 15px;
    }
    progress{
        width: 100%;
        height: 10px;
        margin-top: 10px;
        color: white;
    }
}
.project{
    margin-top: 50px;
    text-align: center;

}
.projects{
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    grid-template-columns: repeat(3,1fr) ;
    margin-top: 30px;
}
.projects-card:last-child{
    /* background-color: rebeccapurple; */
    grid-column-start: 4;
    grid-row-start:1;
    grid-row-end: span 2;
}
.projects-card:nth-child(4){
    /* background-color: red; */
    grid-column: span 2;

}
.projects-card{
    padding: 5px 8px;
    box-shadow: 1px 1px 5px gray;
    object-fit: cover;
}
.projects-card img{
    /* padding: 5px 8px; */
    /* box-shadow: 1px 1px 5px gray; */
    object-fit: cover;
    width: 400px;
}
.grid-span-2{
    grid-column: span 2;
}