* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
nav{
    position: fixed;
    width: 100%;
    /* background-color: blueviolet; */
}
.nav-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-img {
    font-size: 40px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    color: transparent;
    background-clip: text;
}

.logo-img span {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: transparent;
    background-clip: text;
}

.nav-contents ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

.nav-items-underlines {
    width: 0%;
    height: 3px;
    background: #000;
    margin-top: 5px;
}

a:hover .nav-items-underlines {
    width: 100%;
    transition: width 0.3s ease-in-out;
}
@media (min-width:300px) and (max-width:800px) {
    a {
        font-size: 15px;
    }
    .nav-contents {
        flex-direction: column;
    }
    
    .logo-img {
        font-size: 30px;
    }
    .nav-contents ul {
       flex-direction: column;
        width: 100%;
    }
    .nav-contents ul li a{
        width: 100%;
        text-align: center;
    }
}